# --- IDE / workspace ---
.shelf/
workspace.xml
.idea/
.vscode/
*.iml

# IntelliJ DB console artifacts
.idea/dataSources/
.idea/dataSources.local.xml

# HTTP Client artifacts (zarówno z .idea jak i z folderu requests/)
.idea/httpRequests/**
requests/http-client.env.json
requests/http-client.private.env.json
requests/http-client.cookies
requests/http-requests-log.http
requests/*.png
requests/*.pdf

# --- Baza H2 i ślady ---
.h2/**
*.mv.db
*.trace.db

# --- Build / Maven ---
target/**
build/**

# --- Sekrety środowiskowe ---
.env
.env.*
